{% extends 'home.html' %}
{% block content %}
    <form method="POST">{% csrf_token %}
        {{ msg }}<br>
        <label for ="username">Type your username: </label><input type="text" name="username" id="username"><br>
        <label for ="password">Type your password: </label><input type="password" name="password" id="password"><br>
        <label for ="password2">Type your password again: </label><input type="password" name="password2" id="password2"><br>
        <label for ="mail">Type your e-mail: </label><input type="email" name="mail" id="mail"><br>
    <input type="submit">
    </form>
{% endblock %}